In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/yellow_tripdata_2021-01.csv', nrows=1000)

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [4]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

Note:  "tpep_pickup_datetime" and "tpep_dropoff_datetime" are TEXT
But we need it to be time-stamp fields

In [5]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [6]:
# other way is dot notation
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [8]:
from sqlalchemy import create_engine

In [9]:
# postgressql://<user_name>:<password>@<host>:<port>/<database>
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# pip install psycopg2

In [10]:
engine.connect()

In [11]:
# To get DDL for the connecting database (here postgres for our case)

print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
# To load data we will chunk the data using 'iterators'

df_iter = pd.read_csv('dataset/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
df_iter # its an iterator

In [14]:
df = next(df_iter) # Reading one chunk at a time

len(df)

100000

In [15]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [16]:
# updating the datatype of 2 fields
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [17]:
# To only see the header, i.e., column names
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [19]:
# Lets create table (and no data loading)

# dataframe.to_sql() will add the data from dataframe to the table
# dataframe.to_sql(name=<database_name>, con=engine, if_exists='replace')

df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

Go to the pgcli and cross-check that table is created

command is \dt
+--------+------------------+-------+-------+
| Schema | Name             | Type  | Owner |
|--------+------------------+-------+-------|
| public | yellow_taxi_data | table | root  |
+--------+------------------+-------+-------+

describe yellow_taxi_data
or \d yellow_taxi_data

In [20]:
# Load data for this first chunk of data

# %time will tell us how much time it took
# Note: if_exists ='append' to load the data 

%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.89 s, sys: 58.2 ms, total: 2.95 s
Wall time: 4.97 s

1000

In [22]:
from time import time

In [23]:
# To load all the chunks

while True:
    start_ts = time()
    df = next(df_iter)
    
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    end_ts = time()
    print('Next chunk data inserted/appended in %.3f seconds.' %(end_ts - start_ts))

Next chunk data inserted/appended in 5.002 seconds.
Next chunk data inserted/appended in 4.926 seconds.
Next chunk data inserted/appended in 4.995 seconds.
Next chunk data inserted/appended in 5.013 seconds.
Next chunk data inserted/appended in 4.936 seconds.
Next chunk data inserted/appended in 4.939 seconds.
Next chunk data inserted/appended in 4.957 seconds.
Next chunk data inserted/appended in 5.028 seconds.
Next chunk data inserted/appended in 4.914 seconds.
Next chunk data inserted/appended in 5.040 seconds.
Next chunk data inserted/appended in 5.015 seconds.

/var/folders/58/07_23crs06q5nl5lm0r5td3h0000gn/T/ipykernel_29111/3228570208.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Next chunk data inserted/appended in 4.796 seconds.
Next chunk data inserted/appended in 3.170 seconds.

StopIteration:

In [ ]:
# Gracefully handling of the 'StopIteration' exception, i.e, when there is no more data in the iterator
numbers_iterator = NumberIterator([1, 2, 3, 4, 5])

while True:
    try:
        num = next(numbers_iterator)
        print(num)
    except StopIteration:
        print("Reached the end of the iteration.")
        break

Let's read a parquet file

In [ ]:
# pip install --upgrade cmake

In [ ]:
# import cmake

In [ ]:
# from platform import python_version

# print(python_version())

In [ ]:
# pip install pyarrow

In [24]:
# One time installation
# This was done
# conda install -c conda-forge pyarrow

Collecting package metadata (current_repodata.json): | WARNING conda.models.version:get_matcher(542): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 1.7.1.*, but conda is ignoring the .* and treating it as 1.7.1
done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): \ WARNING conda.models.version:get_matcher(542): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 1.8.0.*, but conda is ignoring the .* and treating it as 1.8.0
WARNING conda.models.version:get_matcher(542): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 1.9.0.*, but conda is ignoring the .* and treating it as 1.9.0
WARNING conda.models.version:get_matcher(542): Using .* with relational operator is superfluous and deprecated and will be removed in a future version of conda. Your spec was 1.6.0.*, but conda is ignoring the .* and treating it as 1.6.0
done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 22.9.0
  latest version: 25.3.1

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - pyarrow


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    arrow-cpp-9.0.0            |py39h04a14be_7_cpu        23.7 MB  conda-forge
    aws-c-cal-0.5.11           |       hd2e2f4b_0          30 KB  conda-forge
    aws-c-common-0.6.2         |       h0d85af4_0         150 KB  conda-forge
    aws-c-event-stream-0.2.7   |      hb9330a7_13          40 KB  conda-forge
    aws-c-io-0.10.5            |       h35aa462_0         109 KB  conda-forge
    aws-checksums-0.1.11       |       h0010a65_7          48 KB  conda-forge
    aws-sdk-cpp-1.8.186        |       h766a74d_3         3.7 MB  conda-forge
    conda-22.9.0               |   py39h6e9494a_2         962 KB  conda-forge
    gflags-2.2.2               |    hb1e8313_1004          92 KB  conda-forge
    glog-0.6.0                 |       h8ac2a54_0          98 KB  conda-forge
    grpc-cpp-1.47.1            |       h834a566_6         3.9 MB  conda-forge
    libabseil-20220623.0       | cxx17_h844d122_6         965 KB  conda-forge
    libcrc32c-1.1.2            |       he49afe7_0          20 KB  conda-forge
    libevent-2.1.10            |       h815e4d9_4         1.1 MB  conda-forge
    libgoogle-cloud-2.2.0      |       hb0fe3b0_1         7.0 MB  conda-forge
    libprotobuf-3.21.7         |       hbc0c0cd_0         2.2 MB  conda-forge
    libthrift-0.16.0           |       h08c06f4_2         356 KB  conda-forge
    libutf8proc-2.8.0          |       he670073_1          78 KB  conda-forge
    libzlib-1.2.12             |       hfd90126_3          65 KB  conda-forge
    orc-1.8.0                  |       ha9d861c_0         429 KB  conda-forge
    parquet-cpp-1.5.1          |                2           3 KB  conda-forge
    pyarrow-9.0.0              |py39hb941c77_7_cpu         3.0 MB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    re2-2022.06.01             |       hb486fe8_1         179 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        48.1 MB

The following NEW packages will be INSTALLED:

  arrow-cpp          conda-forge/osx-64::arrow-cpp-9.0.0-py39h04a14be_7_cpu None
  aws-c-cal          conda-forge/osx-64::aws-c-cal-0.5.11-hd2e2f4b_0 None
  aws-c-common       conda-forge/osx-64::aws-c-common-0.6.2-h0d85af4_0 None
  aws-c-event-stream conda-forge/osx-64::aws-c-event-stream-0.2.7-hb9330a7_13 None
  aws-c-io           conda-forge/osx-64::aws-c-io-0.10.5-h35aa462_0 None
  aws-checksums      conda-forge/osx-64::aws-checksums-0.1.11-h0010a65_7 None
  aws-sdk-cpp        conda-forge/osx-64::aws-sdk-cpp-1.8.186-h766a74d_3 None
  gflags             conda-forge/osx-64::gflags-2.2.2-hb1e8313_1004 None
  glog               conda-forge/osx-64::glog-0.6.0-h8ac2a54_0 None
  grpc-cpp           conda-forge/osx-64::grpc-cpp-1.47.1-h834a566_6 None
  libabseil          conda-forge/osx-64::libabseil-20220623.0-cxx17_h844d122_6 None
  libcrc32c          conda-forge/osx-64::libcrc32c-1.1.2-he49afe7_0 None
  libevent           conda-forge/osx-64::libevent-2.1.10-h815e4d9_4 None
  libgoogle-cloud    conda-forge/osx-64::libgoogle-cloud-2.2.0-hb0fe3b0_1 None
  libprotobuf        conda-forge/osx-64::libprotobuf-3.21.7-hbc0c0cd_0 None
  libthrift          conda-forge/osx-64::libthrift-0.16.0-h08c06f4_2 None
  libutf8proc        conda-forge/osx-64::libutf8proc-2.8.0-he670073_1 None
  libzlib            conda-forge/osx-64::libzlib-1.2.12-hfd90126_3 None
  orc                conda-forge/osx-64::orc-1.8.0-ha9d861c_0 None
  parquet-cpp        conda-forge/noarch::parquet-cpp-1.5.1-2 None
  pyarrow            conda-forge/osx-64::pyarrow-9.0.0-py39hb941c77_7_cpu None
  python_abi         conda-forge/osx-64::python_abi-3.9-2_cp39 None
  re2                conda-forge/osx-64::re2-2022.06.01-hb486fe8_1 None

The following packages will be UPDATED:

  conda              pkgs/main::conda-22.9.0-py39hecd8cb5_0 --> conda-forge::conda-22.9.0-py39h6e9494a_2 None



Downloading and Extracting Packages
arrow-cpp-9.0.0      | 23.7 MB   | ##################################### | 100%
re2-2022.06.01       | 179 KB    | ##################################### | 100%
aws-c-event-stream-0 | 40 KB     | ##################################### | 100%
conda-22.9.0         | 962 KB    | ##################################### | 100%
gflags-2.2.2         | 92 KB     | ##################################### | 100%
parquet-cpp-1.5.1    | 3 KB      | ##################################### | 100%
libgoogle-cloud-2.2. | 7.0 MB    | ##################################### | 100%
libprotobuf-3.21.7   | 2.2 MB    | ##################################### | 100%
orc-1.8.0            | 429 KB    | ##################################### | 100%
libcrc32c-1.1.2      | 20 KB     | ##################################### | 100%
aws-c-common-0.6.2   | 150 KB    | ##################################### | 100%
python_abi-3.9       | 4 KB      | ##################################### | 100%
grpc-cpp-1.47.1      | 3.9 MB    | ##################################### | 100%
libthrift-0.16.0     | 356 KB    | ##################################### | 100%
aws-checksums-0.1.11 | 48 KB     | ##################################### | 100%
glog-0.6.0           | 98 KB     | ##################################### | 100%
libevent-2.1.10      | 1.1 MB    | ##################################### | 100%
aws-c-cal-0.5.11     | 30 KB     | ##################################### | 100%
libzlib-1.2.12       | 65 KB     | ##################################### | 100%
pyarrow-9.0.0        | 3.0 MB    | ##################################### | 100%
aws-c-io-0.10.5      | 109 KB    | ##################################### | 100%
aws-sdk-cpp-1.8.186  | 3.7 MB    | ##################################### | 100%
libutf8proc-2.8.0    | 78 KB     | ##################################### | 100%
libabseil-20220623.0 | 965 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [25]:
import pyarrow.parquet as pq

In [26]:
# Read metadata 
pq.read_metadata('dataset/yellow_tripdata_2025-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x7febd035af90>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 3475226
  num_row_groups: 4
  format_version: 2.6
  serialized_size: 10625

In [27]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('dataset/yellow_tripdata_2025-01.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [28]:
# Convert to pandas and check data 
pq_df = table.to_pandas()
pq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 464.0+ MB

In [29]:
#This part is for testing

# Creating batches of 100,000 for the paraquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

In [30]:
# Insert values into the table 
t_start = time()
count = 0

for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      5.097 seconds.

inserting batch 2...
inserted! time taken      4.982 seconds.

inserting batch 3...
inserted! time taken      5.044 seconds.

inserting batch 4...
inserted! time taken      4.956 seconds.

inserting batch 5...
inserted! time taken      4.974 seconds.

inserting batch 6...
inserted! time taken      4.914 seconds.

inserting batch 7...
inserted! time taken      4.938 seconds.

inserting batch 8...
inserted! time taken      5.023 seconds.

inserting batch 9...
inserted! time taken      5.032 seconds.

inserting batch 10...
inserted! time taken      4.939 seconds.

inserting batch 11...
inserted! time taken      4.978 seconds.

inserting batch 12...
inserted! time taken      4.948 seconds.

inserting batch 13...
inserted! time taken      4.991 seconds.

inserting batch 14...
inserted! time taken      5.121 seconds.

inserting batch 15...
inserted! time taken      5.014 seconds.

inserting batch 16...
inserted! time taken      5.006 seconds.

inserting batch 17...
inserted! time taken      4.997 seconds.

inserting batch 18...
inserted! time taken      5.093 seconds.

inserting batch 19...
inserted! time taken      5.069 seconds.

inserting batch 20...
inserted! time taken      5.240 seconds.

inserting batch 21...
inserted! time taken      5.026 seconds.

inserting batch 22...
inserted! time taken      5.031 seconds.

inserting batch 23...
inserted! time taken      4.974 seconds.

inserting batch 24...
inserted! time taken      5.039 seconds.

inserting batch 25...
inserted! time taken      5.028 seconds.

inserting batch 26...
inserted! time taken      5.153 seconds.

inserting batch 27...
inserted! time taken      5.013 seconds.

inserting batch 28...
inserted! time taken      4.969 seconds.

inserting batch 29...
inserted! time taken      5.048 seconds.

inserting batch 30...
inserted! time taken      4.854 seconds.

inserting batch 31...
inserted! time taken      4.649 seconds.

inserting batch 32...
inserted! time taken      4.570 seconds.

inserting batch 33...
inserted! time taken      4.597 seconds.

inserting batch 34...
inserted! time taken      4.417 seconds.

inserting batch 35...
inserted! time taken      3.393 seconds.

Completed! Total time taken was    172.312 seconds for 35 batches.